

body {
	background-color: #2b303b;
}

.size {
	max-width: 1000px;
	margin: auto;	
}

.top-space {
	margin-top: 100px;
}

.panel:hover {
	border-color: red;
}

.foot{
	padding-top: 0px;
	padding-bottom: 2px;
}

.tag{
	background-color: #2b303b;
	padding-top: 2px;
	padding-bottom: 2px;
}

.active {
	background-color: green;
}