

body {
	background-color: #2b303b;
}

.size {
	max-width: 1200px;
	margin: auto;	
}

.top-space {
	margin-top: 100px;
}

.panel:hover {
	border-color: red;

}
.pan{
	margin-bottom:-20px;
	maxwidth:1000px;
	position:relative;
	top:150px;
}

.foot{
	padding-top: 0px;
	padding-bottom: 0px;
}
.nv{
	padding-top: 5px;
}

.tg{

	margin-top:5px;

}

