

body {
	background-color: #2b303b;
}

.size {
	max-width: 1200px;
	margin: auto;	
}

.top-space {
	margin-top: 100px;
}

.panel:hover {
	border-color: red;

}
.pan{
	margin-bottom:-20px;
	maxwidth:1000px;
	position:relative;
	top:130px;
}

.foot{
	padding-top: 0px;
	padding-bottom: 0px;
}

.tag{
	background-color: #2b303b;
	padding-top: 2px;
	padding-bottom: 2px;
}

